<html>

<head>
<title>Visiting São Paulo</title>
</head>

<body>

<p>June 27, 2019 - For first time visitors on a short trip, here is a map with some suggested points of interest.</p>

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6

library(leaflet)
set.seed(2019-06-26)
#myIcon <- makeIcon(
#    iconURL = '',
#    iconWidth = 80, iconHeight = 30,
#    iconAnchorX = 40, iconAnchorY = 15
#)

my_Sao_Paulo_LatLong <- data.frame(lat = c(-23.5829,-23.5614,-23.598913,-23.585,-23.5582,-23.5915),
                                   lng = c(-46.6825,-46.6559,-46.687575, -46.6625,-46.666,-46.6895),
                                   col=c('blue','red','green','red', 'red','green'))

## add multiple popups
spSites <- c(
    "<a href='https://www.transamerica.com.br/nossos-hoteis/transamerica-executive-faria-lima/'>Transamerica Flat Itaim Bibi</a>",
    "<a href='http://masp.art.br/'>Museum of Art São Paulo</a>",
    "<a href='https://fogodechao.com.br/'>Fogo de Chão Brazilian Steakhouse</a>",
    "<a href='https://parqueibirapuera.org/ibirapuera-park/'>Ibirapuera Park</a>",
    "<a href='http://omalleysbar.net/'>O'Malley's Pub</a>",
    "<a href='http://www.jkshoppingdf.com.br/'>Shopping JK</a>"
)

my_Sao_Paulo_LatLong %>%
    leaflet() %>%
    addTiles() %>%
    addCircleMarkers(clusterOptions = markerClusterOptions(),popup=spSites,color=my_Sao_Paulo_LatLong$col) %>%
    addLegend(labels= c('Residence','Leisure','Shopping/Dining','Safe Zone'), colors=c('blue','red','green','gray')) %>%
    addRectangles(lat1=-23.54,lng1=-46.69,
                  lat2=-23.62,lng2=-46.64,color=c('gray'))

#my_Sao_Paulo_LatLong



end.rcode-->

</body>
</html>
